.ui-tabs {
position: absolute;
width: 100%;
length:100%

}
body {
background-color: coral;
}
#fars {
 position:relative;
 float:left;
}

#fars img {
position:absolute;z-index:1
}

#fars img.active{

z-index:3

}








.special {
color: purple;
}

#droppable {
color:blue;

}


p:hover {
  cursor: pointer;
}

 #enzyme {
 position: absolute;
 left:25%;
 top: 25%;
font-size: 50px;
color: orange;
animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {color: red;}
}

#loader {
border: 16px solid #f3f3f3;
   position: absolute;
   left: 30%;
   top: 10%;
fill: transparent;
 
  z-index: 1;
  border-radius: 50%;
  border-top: 16px solid #3498db;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
  width: 400px;
  height:400px;
animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 2s
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

