button {

width:80px;
}



#xylem {
background: red;
height: 50px;
width: 10px;
position:relative;
border-width: thick;
border-style: solid;
border-color: black;
border-radius:10px;
animation: patte 5s infinite ;
animation-iteration-count: infinite;


}

@keyframes patte {
 0%{left:0px;}
 100%{ left:975px;}
 
}

#polish {
background: red;
height: 50px;
width: 10px;
position:relative;
border-width: thick;
border-style: solid;
border-color: black;
border-radius:10px;
animation: chrome 5s infinite ;
animation-iteration-count: infinite;


}

@keyframes chrome {
 0%{left:0px;}
 100%{ left:975px;}
 
}  

#catchem {
background: red;
height: 50px;
width: 20px;
position:relative;
border-width: thick;
border-style: solid;
border-color: brown;
border-radius:20px;
animation: moving 5s infinite ;
animation-iteration-count: infinite;


}

@keyframes moving {
 0%{left:0px;}
 100%{ left:975px;}
 
}

p{
    font-family: "Comic Sans MS", cursive, sans-serif;
   
}


#bota {
background: red;
height: 50px;
width: 20px;
position:relative;
border-width: thick;
border-style: solid;
border-color: black;
border-radius: 20px;
animation: leaving 5s infinite ;
animation-iteration-count: infinite;


}

@keyframes leaving {
 0%{left:0px;}
 100%{ left:1000px;}
 
}

#circle{
background:coral;
height:200px;
width:200px;
position:relative;
border-width:thick;
border-style:solid;
border-radius:100px;
border-color: black;
left:400px;
}

#floor,#soap,#water,#mat {
height:20px;
width:15px;
position:relative;
border-radius:15px;
border-style: solid;
border-width: thin;
border-color: black;
left:50px;
top:20px;

}

#egg,#brat,#dodo,#sand {
height:20px;
width:15px;
position:relative;
border-radius:15px;
border-style: solid;
border-width: thin;
border-color: black;
left:45px;
top:90px;
}

#soap,#water {
background-color:yellow;
}
#floor,#mat {
background-color:blue;
}

#brat,#dodo {
background-color: green;
}
#egg,#sand {
background: red;
}


#summon,#bracket{
background:coral;
height:200px;
width:200px;
position:relative;
border-width:thick;
border-style:solid;
border-radius:100px;
border-color: black;
left:400px;
}

#me,#you,#him,#her,#dome,#pee,#fart,#barf {
height:20px;
width:15px;
position:relative;
border-radius:15px;
border-style: solid;
border-width: thin;
border-color: black;
left:50px;
top:20px;

}

#dame,#hobo,#train,#wall,#star,#stone,#sky,#cloud {
height:20px;
width:15px;
position:relative;
border-radius:15px;
border-style: solid;
border-width: thin;
border-color: black;
left:45px;
top:90px;
}

#me,#dome {
background-color:yellow;
}
#you,#pee { background: linear-gradient(yellow, blue);}
#him,#fart { background: linear-gradient(blue, yellow);}
#her,#barf {
background-color:blue;
}

#dame,#star {
background-color: green;
}
#hobo,#stone { background: linear-gradient(green, red);}
#train,#sky { background: linear-gradient(red, green);}

#wall,#cloud {
background: red;
}
#star,#stone {
left: -20px;

}
#sky,#cloud{
left: -20px;
}
#bracket {
animation: elongating 10s infinite;
animation-iteration-count: infinite;
}

@keyframes elongating {
  50% {width: 600px;border-radius:200px;}
  //100% {width:600px;border-radius:200px;}

}
#roof,#jean {

animation: mymove 10s infinite;

}

@keyframes mymove{
0%{left:0px;}
50%{left:90px;}
100%{left: 0px;}

}
#fart,#barf,#sky,#cloud{
animation: inching 10s infinite;
}

@keyframes inching {
  50%{left:300px}
100%{left:50px}
}


